@charset "utf-8";
/**global settings**/
.global-font {
  font-family: "Microsoft YaHei", "微软雅黑", Tahoma, Arial, "Helvetica Neue", Helvetica, sans-serif, "宋体";
  font-size: 14px;
}
.page-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-content {
  margin-bottom: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 600px;
}
/**utils**/
.padding-top-30 {
  padding-top: 30px;
}
/**home page**/
.nav-3d li {
  border-left: 2px solid;
}
.nav-3d a {
  line-height: 30px;
  font-size: 15px;
}
.nav-3d .nav-user li {
  border-left: 0px;
}
.nav-3d .nav-user li a {
  font-size: 14px;
}
.main-body {
  /**  background-color: f5f5f5;**/

  background-color: #e0e0e0;
}
.display-container {
  padding-top: 20px;
  background-color: #418ecf;
  border-bottom: 2px solid silver;
}
.embeded-container {
  height: 394px;
  background-color: #282828;
  background-image: url("../images/grid.png");
  border: 6px white solid;
}
.embeded-iframe {
  border: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.public-header {
  text-align: center;
  color: #ffffff;
}
.site-simple-intro .introduce-3d {
  margin-top: 50px;
  font-size: 16px;
}
.site-simple-intro .introduce-3d li {
  list-style: none;
  padding-top: 30px;
}
.function-intro li {
  height: 216px;
  margin-top: 15px;
  background-color: #F0F0F0;
  text-align: center;
}
.function-intro li .image-div {
  height: 92px;
  overflow: hidden;
}
.function-intro li img {
  background-color: #b2b2b2;
}
.function-intro li :hover .img-share {
  width: 105px;
  height: 90px;
  background-color: #59a04b;
}
.function-intro li :hover .img-html5 {
  width: 105px;
  height: 90px;
  background-color: #e54b26;
}
.function-intro li :hover .img-upload {
  width: 105px;
  height: 90px;
  background-color: #0092be;
}
/**utilies css for other**/
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.auto-center-layout {
  margin: 0 auto;
}
/**login page cess**/
.login-body {
  background: #FFE4B5;
}
.login-container {
  width: 100%;
  height: 100%;
}
.image-back {
  /**repeat-x url("/images/laoluo.jpg");**/

  background-color: #7B7B7B;
  width: 100%;
  height: 100%;
}
.dialog-section {
  margin-top: 140px;
  text-align: center;
  width: 100%;
  z-index: 10000;
}
.padding-20 {
  padding: 20px 40px 5px 40px;
}
.login-common {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 343px;
  margin: 0 auto;
  text-align: center;
}
.dialog {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 343px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 40px 5px 40px;
  color: #BFB8E5;
  border: 1px solid #373553;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e0e0e0), color-stop(100%, rgba(44, 38, 63, 0.1)));
  background-image: -moz-linear-gradient(top, #e0e0e0 0%, rgba(44, 38, 63, 0.1) 100%);
  background-image: linear-gradient(top, #e0e0e0 0%, rgba(44, 38, 63, 0.1) 100%);
}
.dialog form {
  text-align: left;
  color: #0A0A0A;
}
.dialog form input[type=text] {
  width: 328px;
}
.dialog form input[type=password] {
  width: 328px;
}
.tip {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 343px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  height: 30px;
  width: 425px;
  display: block;
}
.dialog-footer {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 343px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 40px 1px 40px;
  margin-top: 10px;
  height: 30px;
  color: #0A0A0A;
  border: 1px solid #373553;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e0e0e0), color-stop(100%, rgba(44, 38, 63, 0.1)));
  background-image: -moz-linear-gradient(top, #e0e0e0 0%, rgba(44, 38, 63, 0.1) 100%);
  background-image: linear-gradient(top, #e0e0e0 0%, rgba(44, 38, 63, 0.1) 100%);
}
.dialog-footer a {
  color: #04C;
}
/**process bar**/
.upload-area {
  padding-top: 10px;
  margin-top: 10px;
  color: #000000;
  border: 1px dashed #373553;
  height: 50px;
  text-align: center;
  display: block;
}
/**process bar**/
.upload-zone {
  color: #000000;
  border: 1px dashed #373553;
  text-align: center;
}
.upload-zone .upload-tip {
  color: #cc0000;
}
.bar {
  width: 0%;
  height: 18px;
  background: green;
}
/** show one post page css**/
.btn-group-float {
  position: absolute;
  z-index: 1000000000;
  text-align: center;
  bottom: 0px;
}
.share-link {
  background: #f5f5f5;
  height: 100px;
  overflow: scroll;
  padding: 10px;
  border: 1px solid #c4c4c4;
  word-break: break-all;
  white-space: nowrap;
  margin: 10px 0;
  display: block;
}
.item {
  width: 29%;
  color: #000000;
  border: 1px dashed #373553;
}
/**post pages**/
#postShowContainer {
  background: white;
  background-image: url("../images/grid.png");
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
