#postShowContainer {
    background:white;
    background-image: url("../images/grid.png");
    position:absolute;
    left:0px;
    top:0px;
    z-index:0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

html.home, body.home {
    height: 100%;
    overflow: hidden;
}

html.viewer, .viewer body {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.hud-top {
    font-family: 'Museo500','Trebuchet MS',sans-serif;
    padding: 4px 10px;
    position: absolute;
    top: 44px;
    transition: opacity 0.5s linear 0s;
}

.hud-edit-button {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #C6C0B6;
    cursor: pointer;
    font-size: 1.077em;
    margin-right: 30px;
    margin-top: 30px;
    opacity: 0.6;
    padding: 5.9px 10px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}

.hud-pic-button {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #C6C0B6;
    cursor: pointer;
    font-size: 1.077em;
    margin-left: 30px;
    margin-top: 30px;
    opacity: 0.6;
    padding: 5.9px 10px;
    position: absolute;
    left: 0;
    text-transform: uppercase;
}

.edit {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    border-left: 10px solid rgba(0, 0, 0, 0.04);
    height: 100%;
    padding: 30px 30px 0;
    pointer-events: auto;
    right: 0px;
    height:650px;
    transition: right 0.4s ease 0s;
    width: 350px;
}

.edit .close {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #C6C0B6;
    cursor: pointer;
    font-size: 1.077em;
    margin-right: 30px;
    padding: 6px 10px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}

.edit-button-hide {
    display: none;
}

.edit .close:hover, .hud-edit-button:hover {
    background: none repeat scroll 0 0 #A2A2A2;
}

#edit-save {
    border-top: 1px solid #C6C0B6;
    overflow: hidden;
    padding-top: 15px;
}
#edit-save div {
    -moz-box-sizing: border-box;
    border: 1px solid #C6C0B6;
    cursor: pointer;
    float: left;
    padding: 15px;
    text-align: center;
}
#cancel-meta {
    font-size: 1.077em;
    width: 40%;
}
#edit-save div#save-meta {
    background-color: #1CAAD9;
    border: 3px solid #1D9CC5;
    color: #FFFFFF;
    font-family: 'CodeBold';
    font-size: 1.769em;
    height: 48px;
    letter-spacing: 2px;
    line-height: 18px;
    margin-left: 5%;
    text-shadow: 0 1px 0 #1D9CC5;
    text-transform: uppercase;
    width: 55%;
}
#edit-save div#save-meta:hover {
    background: none repeat scroll 0 0 #2FB8E5;
}
#edit-save div#save-meta.wait:hover {
    background: none repeat scroll 0 0 #1CAAD9;
    cursor: default;
}
#save-meta.wait span {
    display: none;
}
#save-meta img {
    display: none;
    margin: -5px auto 0;
}
#save-meta.wait img {
    display: block;
}
#cancel-meta:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
}
#edit-scroll {
    height: 100%;
    max-height: 480px;
    overflow-y: visible;
    overflow-x: hidden;
}
#edit-scroll:focus {
    outline: 0 none;
}

.edit #model-meta {
    margin-top: 15px;
}

.museo {
    font-family: 'Museo500','Lucida Grande','Lucida Sans','Helvetica Neue',Helvetica,sans-serif;
}

.edit-environment input[name="activate-environment"] {
    display: inline-block;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
}

.edit-option-category {
    margin-top: 13px;
}

.form-box {
    border: 1px solid #C5BFB5;
    opacity: 1;
    /*overflow: auto;*/
    padding: 8px;
    transition: height 0.4s ease-in-out 0s, opacity 0.37s ease-in-out 0.03s, padding 0.01s ease-in-out 0s, margin 0.01s ease-in-out 0s;
    width: 262px;
}

.color-box div {
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    height: 12px;
    margin-bottom: 1px;
    margin-top: 1px;
    width: 12px;
}
.color-box {
    display: inline-block;
    left: 155px;
    position: absolute;
    vertical-align: middle;
}
.color-box div:hover {
    outline: 1px solid;
}

#viewport {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
}
#viewport iframe {
    border: 0 none;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#viewport {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
}

#view-frame {
    height: 100%;
    width: 100%;
}

#viewport iframe {
    border: 0 none;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul.thumbnails li {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
    float: left;
    margin-left: 3%;
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    width: 30%;
}

.thumbnails {
    margin-left: 0px;
}

.thumbnails li:not(.placeholder) div {
    margin: 2%;
}

.thumbnails li img, #popularlist li img {
    display: block;
    height: auto;
    width: 100%;
}

/*ul.thumbnails li {*/
    /*margin-left: 3%;*/
    /*width: 30.3333%;*/
/*}*/

.athumbnail {
    height: 100%;
    margin: 0 auto;
    position: absolute;
    width: 100%;

}

.model-thumbnail {
    color: #4A4A4A;
    position: relative;
}

li a.model-link {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #4A4A4A;
    display: block;
    position: relative;
    text-decoration: none;
    transition: all 0.15s linear 0s;
}

li:hover a.model-link {
    transition: all 0.15s linear 0s;
}

#article_content {
    overflow: auto;
    padding-bottom: 30px;
}

.left-column {
    float: left;
    max-width: 68%;
    width: 100%;
    padding: 30px 2% 0;
}

.wrapper {
    background: repeat-y scroll right center / 28% auto white;
    border: 1px solid #CCCCCC;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
    margin: 0 0px;
    overflow: auto;
    padding: 0 0 0px;
    z-index: -99;
}

.model-meta {
    height: 20px;
    position: relative;
}

.model-meta .model-author, .model-meta .model-name {
    display: inline-block;
    float: left;
    line-height: 20px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-align: left;
    text-overflow: ellipsis;
    transition: opacity 0.2s ease-in-out 0s;
    white-space: nowrap;
    width: 50%;
    z-index: 1;
}

.model-stats .eye {
    background: url("/img/spritesheet.png") repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px;
    margin-left: 3px;
    margin-top: 1px;
    opacity: 0.8;
    padding: 0;
    vertical-align: middle;
    width: 17px;
}

.model-stats span[class$="icon"] {
    margin-left: 3px;
}
p.model-stats {
    display: inline-block;
    float: right;
    line-height: 21px;
    min-width: 140px;
    padding: 0;
    text-align: right;
}

.heart-icon {
    background: url("/img/icon-heart.png") repeat scroll 0 0 transparent;
    display: inline-block;
    height: 15px;
    margin-bottom: 2px;
    vertical-align: middle;
    width: 15px;
}

.comment-icon {
    background: url("/img/icon-comment.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 15px;
    vertical-align: middle;
    width: 15px;
}
.comment-icon:hover {
    background: url("/img/icon-comment-active.png") no-repeat scroll 0 0 transparent;
}

.model-thumbnail .comments-total a {
    color: #4A4A4A;
}

.model-meta .model-name-active {
    opacity: 1;
    transition: opacity 0.2s ease-in-out 0s;
    z-index: 10;
}

.menu {
    overflow: hidden;
    list-style-type: none;
    margin: 0 0 0px 0px;
    padding: 0;

}
.menu li, .menu li a {
    color: #BBBBBB;
    cursor: pointer;
    float: left;
    height: 1.2em;
    margin-right: 10px;
}
.menu li:hover, .menu li a:hover {
    color: #888888;
}
.menu li.current, .menu li.current a {
    color: #222222;
    cursor: default;
}
.menu li.current:hover, .menu li.current a:hover {
    color: inherit;
}
.menu .dotme {
    float: right;
    margin-right: 0;
}
.menu .dotme a {
    margin-right: 0;
}

.left-column nav {
    border-bottom: 3px solid #1CAAD9;
    font-size: 1.2em;
    margin-left: 3%;
    padding-bottom: 10px;
    padding-top: 30px;
    text-transform: uppercase;
}

aside {
    float: right;
    min-height: 500px;
    overflow: auto;
    padding: 30px 2% 0;
    width: 24%;
    overflow: hidden;
}

aside h2 {
    border-bottom: 3px solid #80AB00;
    font-size: 1.2em;
    padding-bottom: 10px;
    text-transform: uppercase;
}

ul#taglist {
    color: #666666;
    max-width: none;
    width: 100%;
    list-style-type: none;
    margin: 0 0 20px 0px;
}