<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <script type="text/javascript" src="/javascripts/three.min.js"></script>
        <script type="text/javascript" src="/libs/stats.min.js"></script>
        <script type="text/javascript" src="/javascripts/app/home.js"></script>
    </head>
    <body>
        <div class="container landscape">
                    <div class="row">
                        <div class="site-slogan">
                            <h1>Publish interactive 3D content online</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3 offset9">
                            <ul class="introduce">
                                <li>
                                    Create an account in 1 click
                                </li>
                                <li>
                                    Upload a 3D model in 2 clicks
                                </li>
                                <li>
                                    Share, embed and discover more
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">

                        <div class="span8 offset1">
                            <!--<iframe frameborder="0" height="480" width="854" allowFullScreen webkitallowfullscreen="true" mozallowfullscreen="true" src="http://skfb.ly/k4j3hg2fa?autostart=0&transparent=0&autospin=0&controls=1&watermark=1"></iframe>-->
                            <div id='contents' class="model">
                                 <!--
                                <canvas id='canvas-element-id' class="model" width='480' height='400'>
                                    Your browser does not support the HTML5 canvas element.
                                </canvas> -->
                            </div>
                        </div>

                    </div>
                </div>

                <div class="container publish">
                    <div class="row">
                        <div class="span8">
                            <h3></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span8">

                        </div>
                    </div>

                </div>


            </div>


    </body>
</html>