<div class="container padding-top-30">

    <div class="row">
        <div class="span12">
            <ul class='breadcrumb'>
                <li class="active">
                    <a href="/posts">所有模型</a>
                    <span class='divider'>/</span>
                </li>
                <li class="active">
                    我的模型
                </li>
            </ul>
        </div>
    </div>

    <div class="wrapper">

        <article class="left-column">
            <nav>
                <ul class="menu">
                    <li id="recent"class="current">
                        <a href="/dashboard/recent">浏览量排序</a>
                    </li>
                    <li id="views">
                        <a href="/dashboard/views">喜欢数排序</a>
                    </li>
                    <li id="faved">
                        <a href="/dashboard/faved">时间排序</a>
                    </li>
                    <li>
                        <a href="/dashboard/folders">编辑选择</a>
                    </li>

                    <li class="dotme">

                        <a href="/portfolio?ref=dashboard-nav" target="_blank">
                            <span class="dotme-badge"></span>
                            我的3D模型
                        </a>

                    </li>

                </ul>
            </nav>
            <div id="article_content">
                <ul class="thumbnails">
                    <% if (posts.length > 0) { %>
                        <% posts.forEach(function (post) { %>
                            <% if(post.thumbnail) { %>
                                <li class="span3" data-model="<%= post._id %>">
                                    <div class="thumbnail">
                                        <a href="/posts/<%=post.id %>">
                                            <img data-src="holder.js/260x180" class="model-img" src="<%=post.thumbnail %>" alt="screenshot of 3d model The Grey City Build">

                                      
                                        </a>
                                        <p> 
                                            <%=post.title %>
                                            <button name="del-post-btn" class="btn btn-danger btn-mini">shanchu</button>
                                        </p>

                                        
                                           

                                        
                                    </div>
                                </li>
                            <% } %>
                        <% }); %>
                    <% } %>
                </ul>
                
            </div>

        
        </article>


    </div>
</div>
