<div class="container padding-top-30">

    <div class="row">
        <div class="span12">
            <ul class='breadcrumb'>
                <li class="active">
                    <a href="/posts">所有模型</a>
                    <span class='divider'>/</span>
                </li>
                <li class="active">
                    我的模型
                </li>
            </ul>
        </div>
    </div>

    <div class="model-container">
        <div class="model-thumbnails">
            <ul class="thumbnails">
                <% if (posts.length > 0) { %>
                    <% posts.forEach(function (post) { %>
                        <% if(post.thumbnail) { %>
                            <li class="span3" data-model="<%= post._id %>">
                               <div class="thumbnail model-one">
                                    <p class="">名字：<%=post.title %></p>
                                    <p class="text-center">
                                        <a href="/posts/<%=post.id %>">
                                            <img data-src="holder.js/260x180" class="img-polaroid model-img" src="<%=post.thumbnail %>" alt="screenshot of 3d model The Grey City Build">
                                        </a>
                                    </p>
                                    <p>
                                        <a href="#myModal" role="button" class="btn btn-danger btn-mini" data-toggle="modal">删除</a>

                                    </p>
                                </div>
                            </li>
                        <% } %>
                    <% }); %>
                <% } %>
            </ul>
        </div>
    </div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">删除模型</h3>
    </div>
        <div class="modal-body">
        <p>
            <div class="alert alert-danger alert-block">
                确认删除此模型，此操作将不可回复，模型将永久移除
            </div>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        <button class="btn btn-danger">删除</button>
    </div>
</div>

<script data-main="/javascripts/app/me" src="/javascripts/require.js"></script>
