
<div class="container well">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                    <h4>发布我的3D..</h4>
                    <a href="#myModal" role="button" class="btn btn-success" data-toggle="modal">添加模型</a>
            </div>
        </div>
        
        <% var form = formFor(post, {action: pathTo.posts, method: 'POST', id: "post-form", class: 'form-horizontal'}) %>
        <%- form.begin() %>
            <input id="file-name" type="hidden" name="Post[name]" value="">
            <input id="file-original" type="hidden" name="Post[originalName]" value="">
            <input id="file-size" type="hidden" name="Post[size]" value="">
            <input id="file-delete_type" type="hidden" name="Post[delete_type]" value="">
            <input id="file-url" type="hidden" name="Post[url]" value="">
            <input id="file-delete_url" type="hidden" name="Post[delete_url]" value="">
            <input id="model-published" type="hidden" name="Post[published]" value="">
        <%- form.end() %>
    </div>
    <div class="row">
        <div class="span12">
            <p>
                自发发布模型
            </p>
        </div>
    </div>
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 id="myModalLabel">模型上传</h5>
    </div>
    <div class="modal-body">
        <div class="container-fluid">

            <form id="fileupload" enctype="multipart/form-data" method="POST" action="/upload" mutiple>
                <input name="authenticity_token" type="hidden">
                <div class="row-fluid fileupload-buttonbar">
                       <div class="offset1 span6">
                           <span class="btn btn-success fileinput-button">
                               <i class="icon-plus icon-white"></i>
                               <span>添加文件...</span>
                               <input type="file" name="files" mutiple>
                           </span>
                       </div>

                </div>

            </form>


            <div class="row-fluid">
                <div class="offset1 span5">
                    <!-- The global progress information -->
                    <div class="span5 fileupload-progress">
                        <!-- The global progress bar -->
                        <div id="progress" class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                            <div class="bar" style="width:0%;"></div>
                        </div>
                        <!-- The extended global progress information -->
                        <div id="upload-result" class="progress-extended">&nbsp;</div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row-fluid">

                <div class="offset1 span6">
                    <div class="alert alert-info">
                        是否发布？ （也可稍后设置）
                    </div>

                    <div class="make-switch" data-on="primary" data-off="warning" data-on-label="是" data-off-label="否">
                        <input type="radio" checked="checked">
                    </div>
                    <p></p>
                    <p>
                        打开发布后，其他人可以浏览您上传后的模型，关闭后，只有自己可以看到。
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>

    </div>
</div>
<script data-main="/javascripts/app/post" src="/javascripts/require.js"></script>

