@charset "utf-8";

@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;
@grey:#E0E0E0;
@grey-blue:#418ecf;
@light-grey:#f5f5f5;

@min-height:600px;
@z-index:10000;
@margin-top:140px;
@dialog-width:343px;
@width-full:100%;
@tip-height:60px;

@global-font-family:"Microsoft YaHei","微软雅黑",Tahoma, Arial,"Helvetica Neue", Helvetica,sans-serif,"宋体",;
@global-font-size: 14px;

/**global settings**/
.global-font{
  font-family: @global-font-family;
  font-size: @global-font-size;
}
.page-padding{
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-content{

  margin-bottom: 50px;
  .page-padding;
  min-height:@min-height;
}

/**utils**/
.padding-top-30{
  padding-top: 30px;
}


/**home page**/
.nav-3d{
  li{
    border-left: 2px solid;
  }
  a{
    line-height: 30px;
    font-size: 15px;
  }
  .nav-user{

    li{
      border-left: 0px;
      a{
        font-size:14px;
      }

    }
  }
}
.main-body{
  /**  background-color: f5f5f5;**/
  background-color: @grey;
}
.display-container{
  padding-top: 20px;
  background-color: @grey-blue;
  border-bottom: 2px solid silver;
}
.embeded-container{
  height: 394px;
  background-color: #282828;
  background-image: url("../images/grid.png");
  border: 6px white solid;
}
.embeded-iframe{
  border: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;

}
.public-header{
  text-align: center;
  color:#ffffff;
}
.site-simple-intro{

  .introduce-3d{

    margin-top:50px;
    font-size:16px;
    li{
      list-style: none;
      padding-top: 30px;
    }
  }
}
.function-intro{

  li{
    height: 216px;
    margin-top: 15px;
    background-color:#F0F0F0;
    text-align: center;
    .image-div{
      height: 92px;
      overflow: hidden;
    }
    img{
      background-color:#b2b2b2;
    }

    :hover .img-share{
      width:105px;
      height: 90px;
      background-color:#59a04b;
    }
    :hover .img-html5{
      width:105px;
      height: 90px;
      background-color:#e54b26;
    }
    :hover .img-upload{
      width:105px;
      height: 90px;
      background-color:#0092be;
    }
  }

}
/**utilies css for other**/
.text-center{
    text-align:center;
}
.text-left{
    text-align:left;
}

.auto-center-layout{
    margin:0 auto;
}

.rounded-corners (@radius: 5px) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}
.background-image(  @alpha: 0.1){
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #E0E0E0), color-stop(100%, rgba(44, 38, 63, @alpha)));
    background-image: -moz-linear-gradient(top, #E0E0E0 0%, rgba(44, 38, 63, @alpha) 100%);
    background-image: linear-gradient(top, #E0E0E0 0%, rgba(44, 38, 63, @alpha) 100%);
}

/**login page cess**/

.login-body{
    background: #FFE4B5;
}


.login-container{
    width: 100%;
    height: 100%;

}

.image-back{
    /**repeat-x url("/images/laoluo.jpg");**/
    background-color: #7B7B7B;
    width:100%;height:100%;
}

.dialog-section{

    margin-top: @margin-top;
    .text-center;
    width: @width-full;
    z-index: @z-index;
}
.padding-20{
  padding: 20px 40px 5px 40px;
}
.login-common{
    .rounded-corners;
    width:@dialog-width ;
    .auto-center-layout;
    .text-center;
}

.dialog{
    .login-common;
    .padding-20;
    form{
        .text-left;
        color:#0A0A0A;
        input[type=text]{
            width: 328px;
        }
        input[type=password]{
          width: 328px;
        }
    }
    color: #BFB8E5;
    border: 1px solid #373553;
    .background-image;
}
.tip{
    .login-common;
    margin-bottom: 20px;
    height: 30px;
    width:425px;
    display: block;
}


.dialog-footer{
    .login-common;
    padding: 10px 40px 1px 40px;
    margin-top: 10px;
    height: 30px;
    color: #0A0A0A;
    border: 1px solid #373553;
    .background-image;
    a{
        color:#04C;
    }
}

/**process bar**/
.upload-area{
    padding-top: 10px;
    margin-top: 10px;
    color: #000000;
    border: 1px dashed #373553;
    height: 50px;
    text-align: center;
    display:block;

}


/**process bar**/
.upload-zone{

  color: #000000;
  border: 1px dashed #373553;

  text-align: center;
  .upload-tip{
    color:#cc0000;
  }

}


.bar {
    width: 0%;
    height: 18px;
    background: green;
}


/** show one post page css**/
.btn-group-float{
    position: absolute;
    z-index: 1000000000;
    text-align: center;
    bottom: 0px;
}

.share-link{
    background: #f5f5f5;
    height: 100px;
    overflow: scroll;
    padding: 10px;
    border: 1px solid #c4c4c4;
    word-break: break-all;
    white-space: nowrap;
    margin: 10px 0;
    display: block;
}

.item { width: 29%;
    color: #000000;
    border: 1px dashed #373553;
}

/**post pages**/
#postShowContainer {
  background:white;
  background-image: url("../images/grid.png");
  position:absolute;
  left:0px;
  top:0px;
  z-index:0;
  width: 100%;
  height: 100%;
  overflow: hidden;

}
