<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <%- stylesheet_link_tag('application-all-min') %>
    </head>
    <body>
        <%- body %>
    </body>
</html>
