<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <%- stylesheet_link_tag('bootstrap','bootstrap-responsive','application') %>
        <%- javascript_include_tag('jquery-1.8.0.min', 'bootstrap', 'rails', 'application','three') %>

    </head>
    <body>


        <%- body %>


    </body>
</html>
