<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <%- stylesheet_link_tag('application-all-min') %>
        <%- csrfMetaTag() %>
    </head>
    <body class="login-body">
        <div class="navbar navbar-inverse navbar-fixed-top nav-3d">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/"><i class="icon-cloud"></i>三维云</a>
                </div>
            </div>
        </div>
        <div class="container login-container">
            <%- body %>
        </div>


    </body>
</html>
